* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Tags*/
.tarjetaItems a, .tarjetaProductos a, .footerNavegador ul li a, .headerNavegador ul li a {
  text-decoration: none;
  color: whitesmoke;
}

main h1 {
  color: DodgerBlue;
  font-size: 30px;
  text-align: center;
  margin: 20px;
}

/*-----Header-----*/
.headerNavegador {
  background-color: rgb(65, 129, 172);
  padding: 10px;
  width: 100%;
  background-size: cover;
  top: 0%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headerNavegador ul {
  list-style: none;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  margin: 0;
  gap: 10px;
}
.headerNavegador ul :hover {
  background-color: rgb(11, 34, 49);
  transition: 0.8s;
  transform: scale(1.3);
  border-radius: 5px;
}
.headerNavegador ul li {
  margin: 2px;
  padding: 5px;
}
@media (max-width: 768px) {
  .headerNavegador ul li a {
    color: white;
  }
}
@media (max-width: 768px) {
  .headerNavegador ul {
    flex-direction: column;
    align-items: center;
    background-color: rgb(11, 34, 49);
    padding: 100px 0px;
    position: fixed;
    z-index: 3;
    top: 0%;
    height: 100%;
    width: 200px;
    left: -250px;
  }
  .headerNavegador ul:hover {
    left: 0px;
    transition: 0.5s;
  }
}
.headerNavegador .fa-bars {
  color: whitesmoke;
  font-size: 30px;
  padding: 20px;
  display: none;
}
@media (max-width: 768px) {
  .headerNavegador .fa-bars {
    display: block;
    order: -1;
  }
}
.headerNavegador .fa-bars:hover + ul {
  left: 0px;
  transition: 0.5s;
}

footer {
  background-color: rgb(65, 129, 172);
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
@media (max-width: 992px) {
  footer {
    flex-direction: column;
    gap: 10px;
  }
}

/*Navegacion*/
.footerNavegador {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
}
.footerNavegador h5 {
  color: white;
  font-size: 20px;
  margin-top: 16px;
}
.footerNavegador ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 0px;
}
.footerNavegador ul li {
  margin: 2px;
  padding: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*Redes*/
.footerRedes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
}
.footerRedes h5 {
  color: white;
  font-size: 20px;
  margin-top: 5px;
}

/*Medios de pago*/
.footerMediosDePagos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
}
.footerMediosDePagos h5 {
  color: white;
  font-size: 20px;
  margin-bottom: 10px;
}

/*Contactos*/
.footerContactos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
}
.footerContactos h5 {
  color: white;
  font-size: 20px;
  margin-bottom: 10px;
}
.footerContactos p {
  color: white;
  height: 25px;
  margin: 0px;
}

/*-----Imagenes-----*/
.img-size-small {
  width: 250px;
  object-fit: cover;
}

.img-size-meddium {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 20px;
  padding: 5px 10px 10px 10px;
}

.img-size-large {
  height: 100%;
  width: 100%;
  object-fit: cover;
  margin-top: 5px;
}

.img-size-grilla {
  height: 150px;
  width: 100px;
  object-fit: cover;
}

/*Productos*/
/*section*/
.sectionTarjetaProductos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.tarjetaProductos {
  width: 400px;
  border: 2px solid rgb(65, 129, 172);
  border-radius: 5px;
  background-color: whitesmoke;
  margin: 20px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.tarjetaProductos img {
  width: 100%;
  object-fit: cover;
}
.tarjetaProductos h3 {
  font-size: 25px;
}
.tarjetaProductos button {
  background-color: rgb(65, 129, 172);
  padding: 10px;
  color: whitesmoke;
  border-radius: 5px;
  font-size: 20px;
}
.tarjetaProductos button:hover {
  transition: 0.8s;
  background-color: rgb(11, 34, 49);
  transform: scale(1.1);
}

/*Items*/
/*section*/
.sectionTarjetaItems {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tarjetaItems {
  width: 300px;
  border: 2px solid rgb(65, 129, 172);
  border-radius: 5px;
  background-color: whitesmoke;
  margin: 20px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  position: relative;
}
.tarjetaItems__img {
  width: 100%;
  object-fit: cover;
}

.tarjetaItems__descripcion {
  font-size: 20px;
  margin: 0px;
}

.tarjetaItems__boton {
  background-color: rgb(65, 129, 172);
  padding: 5px;
  color: whitesmoke;
  border-radius: 5px;
  font-size: 20px;
}
.tarjetaItems__boton:hover {
  transition: 0.8s;
  background-color: rgb(11, 34, 49);
  transform: scale(1.1);
}

.tarjetaItems__precio {
  font-size: 20px;
  margin: 0px;
}

.tarjetaItems__cuotas {
  font-size: 20px;
  margin: 0px;
}

.tarjetaItems__corazon {
  font-size: 35px;
  position: absolute;
  top: 10px;
  left: 10px;
}

/*-----Logos-----*/
.headerLogo {
  width: 75px;
  height: 75px;
  object-fit: cover;
  border-radius: 5px;
}

/*-----Formulario-----*/
.formulario {
  border: 2px solid rgb(65, 129, 172);
  border-radius: 2px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.formulario label {
  font-size: 20px;
}
.formulario .nombre, .formulario .mail, .formulario .telefono {
  display: flex;
  flex-direction: column;
}
.formulario .nombre input, .formulario .mail input, .formulario .telefono input {
  width: 300px;
  height: 20px;
  padding: 10px;
  border: 2px solid rgb(65, 129, 172);
  border-radius: 2px;
}
.formulario .nombre input:hover, .formulario .nombre input:focus, .formulario .mail input:hover, .formulario .mail input:focus, .formulario .telefono input:hover, .formulario .telefono input:focus {
  background-color: rgb(65, 129, 172);
  color: white;
  transition: 0.5s;
  border-radius: 5px;
}
.formulario .provincia {
  display: flex;
  flex-direction: column;
}
.formulario .provincia select {
  width: 140px;
  height: 25px;
  border: 2px solid rgb(65, 129, 172);
  border-radius: 2px;
}
.formulario .provincia select:hover, .formulario .provincia select:focus {
  background-color: rgb(65, 129, 172);
  color: white;
  transition: 0.5s;
  border-radius: 5px;
}
.formulario .mensaje {
  display: flex;
  flex-direction: column;
}
.formulario .mensaje textarea {
  border: 2px solid rgb(65, 129, 172);
  border-radius: 2px;
}
.formulario .mensaje textarea:hover, .formulario .mensaje textarea:focus {
  background-color: rgb(65, 129, 172);
  color: white;
  transition: 0.5s;
  border-radius: 5px;
}
.formulario .captcha {
  display: flex;
  gap: 10px;
}
.formulario .botones button {
  background-color: rgb(65, 129, 172);
  padding: 10px;
  color: whitesmoke;
  border-radius: 5px;
  font-size: 20px;
}
.formulario .botones button:hover {
  transition: 0.8s;
  background-color: rgb(11, 34, 49);
  transform: scale(1.1);
}

/*-----Info de contacto-----*/
.sectionContactos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}
@media (max-width: 768px) {
  .sectionContactos {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}

.infoContactos {
  border: 2px solid rgb(65, 129, 172);
  border-radius: 2px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.infoContactosNumero, .infoContactosEmail, .infoContactosUbicacion {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  gap: 20px;
}
.infoContactosNumero p, .infoContactosEmail p, .infoContactosUbicacion p {
  margin: 0px;
}

/*-----Producto X-----*/
.productoX {
  display: grid;
  align-content: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "imgPpal    imgPpal    info   info   info   info" "imgPpal    imgPpal    info   info   info   info" "imgGrilla  imgGrilla  comp   comp   comp   comp";
}
.productoX .imgPrincipal {
  grid-area: imgPpal;
  border: 2px solid rgb(65, 129, 172);
  border-radius: 2px;
  margin: 10px;
  padding: 10px;
}
.productoX .imgPrincipal img {
  object-fit: fill;
}
.productoX .imgGrilla {
  grid-area: imgGrilla;
  border: 2px solid rgb(65, 129, 172);
  border-radius: 2px;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}
.productoX .informacion {
  grid-area: info;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: start;
  gap: 10px;
}
.productoX .informacion .informacionCuotas {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}
.productoX .informacion .informacionCuotas p {
  margin: 0px;
}
.productoX .informacion .informacionColor {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}
.productoX .informacion .informacionColor h4 {
  margin: 0px;
}
.productoX .informacion .informacionBoton {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.productoX .informacion .informacionBoton button {
  background-color: rgb(65, 129, 172);
  padding: 5px;
  color: whitesmoke;
  border-radius: 5px;
  font-size: 20px;
}
.productoX .informacion .informacionBoton button:hover {
  transition: 0.8s;
  background-color: rgb(11, 34, 49);
  transform: scale(1.1);
}
.productoX .compartir {
  grid-area: comp;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  align-items: start;
}
.productoX .compartir .compartirIconos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  align-items: start;
}
@media (max-width: 576px) {
  .productoX {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

/*-----Ayuda-----*/
.ayuda {
  padding: 20px;
}
.ayuda h3 {
  color: rgb(65, 129, 172);
}

/*# sourceMappingURL=styles.css.map */
