/*-----Header-----*/
.headerNavegador{
    background-color: $tag_color_template;
    padding: 10px;    
    width: 100%;
    background-size: cover;
    top: 0%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    ul{
        list-style: none; 
        font-size: 20px; 
        display: flex;
        flex-direction: row;
        margin: 0;
        gap: 10px; 
        & :hover{
            background-color: $tag_color_hover;   
            transition: 0.8s;
            transform: scale(1.3);
            border-radius: 5px;
        }
        li{      
            margin: 2px;
            padding: 5px;
            a{
                @extend %links;
                @media(max-width:768px){
                    color:white;
                }
            }
        }
        @media(max-width:768px){
            flex-direction: column;
            align-items: center;
            background-color: $tag_color_hover;           
            padding: 100px 0px; 
            position: fixed;
            z-index: 3;           
            top: 0%;
            height: 100%;
            width: 200px;
            left: -250px;
            &:hover{
                left: 0px;
                transition: 0.5s; 
            }
        }          
    }
    .fa-bars{
        color: whitesmoke;
        font-size: 30px;            
        padding: 20px;
        display: none;
        @media(max-width:768px){           
            display: block;
            order: -1;
        }
        &:hover + ul{
            left: 0px;
            transition: 0.5s;           
        }
    }
}