/*Items*/
/*section*/
.sectionTarjetaItems{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
}

.tarjetaItems{
    width: 300px;
    border: 2px solid $tag_color_template;    
    border-radius: 5px;
    background-color: whitesmoke;
    margin: 20px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    position: relative;
    a{
        text-decoration: none;
        color: whitesmoke;
    }
}

.tarjetaItems__img{
    width: 100%;    
    object-fit: cover;
}

.tarjetaItems__descripcion{
    font-size: 20px;
    margin: 0px;
}

.tarjetaItems__boton{
    @include boton(5px, 20px) 
}

.tarjetaItems__precio{
    font-size: 20px;
    margin: 0px;
}

.tarjetaItems__cuotas{
    font-size: 20px;
    margin: 0px;
}

.tarjetaItems__corazon{
    font-size: 35px;
    position: absolute;
    top: 10px;
    left: 10px;
}