/*Productos*/
/*section*/
.sectionTarjetaProductos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.tarjetaProductos{
    width: 400px;
    border: 2px solid $tag_color_template;  
    border-radius: 5px;
    background-color: whitesmoke;
    margin: 20px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    img{
        width: 100%;
        object-fit: cover;
    }
    h3{
        font-size: 25px;
    }
    a{
        @extend %links;
    }
    button{      
        @include boton(10px, 20px);
    }    
}