/*Items*/
/*section*/
.sectionTarjetaItems{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
}

.tarjetaItems{
    width: 300px;
    border: 2px solid rgba(65, 129, 172);    
    border-radius: 5px;
    background-color: whitesmoke;
    margin: 20px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    position: relative;
    a{
        text-decoration: none;
        color: whitesmoke;
    }
}

.tarjetaItems__img{
    width: 100%;    
    object-fit: cover;
}

.tarjetaItems__descripcion{
    font-size: 20px;
    margin: 0px;    /*Saco el margin que me puso la hoja de style de Bootstrap*/
}

.tarjetaItems__boton{
    background-color: rgba(65, 129, 172);
    padding: 5px;
    color: whitesmoke;
    border-radius: 5px;
    font-size: 20px;
    & :hover{
        color: rgb(11, 34, 49);
        transition: 0.5s;
    }
}

.tarjetaItems__precio{
    font-size: 20px;
    margin: 0px;    /*Saco el margin que me puso la hoja de style de Bootstrap*/
}

.tarjetaItems__cuotas{
    font-size: 20px;
    margin: 0px;    /*Saco el margin que me puso la hoja de style de Bootstrap*/
}

.tarjetaItems__corazon{
    font-size: 35px;
    position: absolute;
    top: 10px;
    left: 10px;
}